<!-- Permet de récupérer les données une fois le bouton submit appuyé 
#myForm = "ngForm" permet de récup l'instanciation de la directive ngForm (.submitted, .valid, .errors)-->
<form (ngSubmit)="myForm.valid && onSubmit()" #myForm ="ngForm">
    <p>
        Form submitted ? {{myForm.submitted}}<br>
        Form valid ? {{myForm.valid}}<br>
        Form invalid ? {{myForm.invalid}}
    </p>
    <div>
        <label for="title-order">TITRE</label>
        
        <input name="title-order" type="text" [(ngModel)]="model.title" #title="ngModel" required max-length="5">
    </div>
    <!-- On va récupéré les propriétés du champ title et vérifier qu'il est bon. Si non : message d'erreur -->
    <div *ngIf="myForm.submitted && title.errors">
        <span *ngIf="title.errors?.required">Le titre est requis</span>
        <span *ngIf="title.errors?.minlength">La longueur maximale doit être supérieure à 5</span>
        <span *ngIf="title.errors?.maxlength">La longueur maximale doit être inférieure à 30</span>
    </div>
    <div>
        <label for="quantity-order">Quantité</label>
        <input name="quantity-order" type="number" [(ngModel)]="model.quantity" #quantity="ngModel" required>
    </div>
    <div *ngIf="myForm.submitted && quantity.errors">
        <span *ngIf="quantity.errors.required">Le champ quantité est requis.</span>
    </div>
    <div>
        <label for="data-order">Date de commande</label>
        <input name="data-order" type="date" [(ngModel)]="model.date" #date="ngModel" required>
    </div>
    <div *ngIf="myForm.submitted && date.errors">
        <span *ngIf="date.errors.required">Le champ date est requis.</span>
    </div>
    <div>
        <label for="contact-order">Contact</label>
        <input name="contact-order" type="text" [(ngModel)]="model.contact" #contact="ngModel" required email>
    </div>
    <div *ngIf="myForm.submitted && contact.errors">
        <span *ngIf="contact.errors.required">Le champ contact est requis.</span>
        <span *ngIf="contact.errors.email">L'adresse mail n'est pas valide.</span>
    </div>
    <button type="reset">Restaurer</button>
    <button type="submit">Sauvegarder</button>
</form>
